#HomePage {
  background-color: #FFFFFF;

  @media only screen and (min-width: 768px) {
    padding: 16px 64px;
  }

  .optionsCarState {
    label {
      padding-right: 16px;
    }

    input {
      width: auto;
    }
  }

  .containerVehicleHome {
    margin-top: 30px;
  }

  .buttonsFilter {
    display: block;

    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    .advancedFilter {
      color: #f3123c;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
    }

    .clearFilter {
      background-color: transparent;
      border: none;
      color: #7c7c7c;
      cursor: pointer;
    }

    .buttonBid {
      background-color: #f3123c;
      border: 2px solid #c92020;
      border-radius: 3px;
      color: #FFFFFF;
      cursor: pointer;
      font-weight: 600;
      padding: 8px 24px;
    }

    .spinner {
      animation: spin infinite 3s linear;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}