// body {
//   background: hsla(0,0%,39.2%,.5);
// }

#HomePage {
  width: 933px;
  height: 312px;
  background-color: #f3123c;
  margin: auto;
  margin-top: 16px;

  Header {
    background-color: blue;
    // height: 30%;
  };

  .containerVehicleHome {
    margin-top: 30px;
  }
}